# Credentials or sensitive bootstrap scripts
.env
setup.sh
**/*/pgconstr*.sh
pgconstr*.sh
**/*/.aws/*

# Terraform
*.tfvars
.terraform/*
.terraform.lock.hcl
*.tfstate*
**/*/.terraform/*
**/*.tfstate*

#Python
.venv
